html {
    background: url("sitebc.png") repeat;
}
body {
    background: white;
    border-radius: 20px;
    font-family: sans-serif;
    margin: 0 auto;
    min-width: 1100px;
    padding: 1em;
    width: 80%;
}
.headings {
	background: url("mainheadingsboss.png") no-repeat;
    height: 11em;
    width: 100%;
    margin-left: 2em;
}
span{
	float: right;
	margin-right: 26px;
}
nav ul{
	margin-left:20px;
	padding-left: 0px;
	padding-top: 5px;
}
nav li {
    background-color: orange;
    border-radius: 4px;
    display: inline-block;
    padding: 8px 1px;
    text-align: center;
    width: 145px;
}
nav a {
    color: white;
    font-size: 1em;
    text-decoration: none;
}
nav a:hover {
    color: gold;
    text-decoration: underline;
}
nav li:hover {
    background-color: olive;
}
.sidebar {
    border-radius: 20px;
    float: left;
    height: 20em;
    width: 15em;
}
.sidebar ul {
    line-height: 1.5em;
    list-style:none;
    padding:0px 1em;
}
.sidebar li {
    background-color: orange;
    border-radius: 4px;
    display: block;
    margin: 2px 0;
    padding: 8px 1px;
    text-align: center;
    width: 13em;
}
.sidebar li:hover {
    background-color: olive;
}
.sidebar a {
    color: white;
    font-size: 1em;
    text-decoration: none;
}
.sidebar table{
	width: 13em;
	height: 16em;
	margin-left: 1.1em;
}
.sidebar table th{
	font-size:1.5em;
	margin: 0;
	padding: 0;
	background-color: orange;
	color: white;
}
.sidebar table tr td marquee:hover{
	direction: none;
}
.content {
	background:url("contentback.png") repeat-y;
    float: right;
    width: 52em;
}
.content h4{
    margin: 0;
    padding: 0;
}
.content h1 {
    text-align: center;
    background-color: orange;
    margin-right: 28px;
}
.content li{
	margin-right: 10px;
}
.content a{
	text-decoration: none;
	color: green;
	text-align: center;
	text-shadow: 3px 3px 3px gray;
	font-size: 1.5em;
	margin-left: 13em;
}
.content a:hover{
	text-decoration: underline;
}
footer {
    background:orange;
    border-radius: 16px;
    clear: both;
    padding-bottom: 0.5em;
    padding-top: 1em;
    text-align: center;
}
footer a{
	text-decoration: none;
	color: black;
}
footer a:hover{
	text-decoration: underline;
}
.sidebar a:hover {
    color: gold;
    text-decoration: underline;
}
